body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
display: flex;
flex-direction: row;
background-color: #F3DAB1;
}
.logo {
width: 80px;
height: 80px;
margin: 20px;
}
h1 {
    font-size: 50px;
    font-family: "Baskervville", serif;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 60%;
}
a {
text-decoration: none;
color: black;
padding: 20px;
font-family: "Baskervville", serif;
}
main{
    background-color: #E2CCB1;
    margin: none;
    padding: 30px;
}
h2{
    font-family: "Baskervville", serif;
    font-weight: 600;
}
footer {
display: flex;
flex-direction: row;
background-color: #F3DAB1;
margin: none;
padding: 20px;
}